@model WebFormsMVC.Models.User
@{
   
}

<html>
<head>
    <title>Display</title>
</head>
<body>
    <table>
        <tr>
            <th>UserId:</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>UserName:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@Model.Email</td>
        </tr>
    </table>
</body>
</html>