@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebFormsMVC.Models.User
@{
}
@* <html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/User/Index" method="post">
            <table>
                <tr>
                    <th>UserId:</th>
                    <td><input type="number" id="id" name="id" /></td>
                </tr>
                <tr>
                    <th>UserName:</th>
                    <td><input type="text" id="name" name="name" /></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td><input type="email" id="email" name="email"/></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td><input type="password" id="password" name="password" /></td>
                </tr>
                <tr>
                <th><input type="submit" value="submit" style="visibility"  /></th>
               
                <th><button type="submit" formaction="@Url.Action("UserList")">UsersList</button></th>
                </tr>
                <tr>
                    
                </tr>
            </table>
        </form>
    </body>
</html> *@